#single {
    width: 100%;

    display: flex;
}

#single .single-container {
    flex: 6;
}

#single .single-container .top {
    display: flex;
    gap: 1.5%;
    padding: 20px;   
}

#single .single-container .top .left {
    display: flex;
    flex-direction: column;
    flex: 1;

    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

    border-radius: 12px;
    padding: 1.5%;
    /* padding: 0.8% 1.4%; */
    
    /* background-color: white; */
    position: relative;    
}

#single .single-container .top .left .up .title {
    font-size: 32px;
    margin: 10px 0 0 10px;   
    color: #808080;
    font-weight: 500;
}

#single .single-container .top .left:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

#single .single-container .top .right {
    /* width: 50%; */
    flex: 2;
}

#single .single-container .top .down {

    display: flex;
    gap: 8%;
    /* padding: 2%; */
    height: 100%;
}

#single .single-container .top .flex-start, #single .single-container .top .flex-end {
    /* border: solid 2px red; */
    display: flex;
    justify-content: center;
    align-items: center;
} 

#single .single-container .top .flex-end {
    align-items: flex-start;
}

#single .single-container .top .flex-start .title {
    font-size: 16px;
    color: lightgray;
    margin-bottom: 20px;
}


#single .single-container .top .flex-start img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top ;

    /* background-color: darkblue; */
}


#single .single-container .top .flex-end {
    flex-direction: column;
    gap: 6px;
}

#single .single-container .flex-end .edit-button  {
    border: none;
    background-color: transparent;
    border-radius: 12px;
    
    /* border: solid 4px cyan; */
    
    position: absolute;     
    top: 10px;
    right: 10px;
}

#single .single-container .flex-end .edit-button  img {
    height: 60px;
    width: 60px;
    border-radius: 12px;

}

#single .single-container .flex-end .itemTitle {
    /* margin-bottom: 10px; */
    font-size: 32px;
    color: blueviolet;
}

#single .single-container .flex-end .detailItem {
    font-size: 14px;
}

#single .single-container .flex-end .itemKey {
    font-size: 16px;
    font-weight: bold;
    /* font-style: italic; */
    color: orangered;
    margin-right: 5px;
}

#single .single-container .flex-end .itemValue {
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
}

/* #single .single-container .right {}    */

#single .single-container .bottom {
    width: 97.25%;

    /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */
    /* box-shadow: 0 10px 0 0  black; */
    /* box-shadow: 0 0 10px black; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    
    border-radius: 24px;

    padding: 20px;
    margin: 10px 0 0 20px;

    /* padding: 0.8% 1.4%; */
    /* padding: 3%; */
    
    /* background-color: red; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

#single .single-container .bottom .title {
    font-size: 30px;
    padding-top: 1%;
    padding-left: 1%;

}